black
pre-commit
python-can
cantools
pandas
openpyxl
matplotlib
Jinja2
httpx
keyring
fastapi[standard]
geopy
PyDrive2==1.21.3
pipreqs
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib
gspread
pyvisa
certifi
websockets
uptime
types-PyYAML
streamlit==1.52.2
grpcio
dash==3.3.0
npTDMS
tqdm
gc
pyarrow
polars
canmatrix
pyparsing
pytest
pytest-html
pytest-sugar

